.cardcontainer {
    width: 300px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    align-content: center;
    display: flex;
    border: 2px solid #333;
    box-shadow: -2px 4px 0 #888, -4px 6px 0 #333;
    transition: 0.4s ease;
}

.cardcontainer:hover {
    transform: scaleX(1.10) scaleY(1.10);
}

.notfound {
    max-width: 1018px;
    min-height: 170px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 42px 40px 32px;
    border-radius: 4px;
}

.notfoundtitle {
    font-family: 'RobotoMonoSemi';
    font-size: 24px;
}

.imfound {
    height: 70px;
    width: 70px;
    margin-right: 35px;
}

.listul {
    padding-left: 20px ;
    margin-top: 20px;
}

.list {
    font-family: 'RobotoMono';
    font-size: 16px;
}

.pokecard {
    display: flex;
    align-items: center;
}

.imagepoke {
    width: 95px;
    height: 95px;
    border: 2px solid #333;
    object-fit: contain;
    padding: 5px;
    background-color: rgb(214, 202, 202);
    cursor: pointer;
}

.data {
    font-family: RobotoMono;
}

.idpoke {
    font-size: 14px;
    cursor: pointer;
}

.namepoke {
    text-transform: capitalize;
    font-size: 17px;
    cursor: pointer;
}

.type {
   font-size: 12px;
   padding: 3px;
   border: 1px solid #333;
   margin-right: 3px;
}

.type2 {
    font-size: 12px;
    padding: 3px;
    border: 1px solid #333;
}

.detailright {
    position: relative;
    background-color: #aa2946;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    top: -58px;
    left: 73px;
    z-index: 1;
}

.detailleft {
    position: relative;
    background-color: #aa2946;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    top: -58px;
    left: 43px;
    z-index: 1;
}

.middledetail {
    width: 30px;
    padding: 30px 10px;
}

hr {
    border: 1px solid #333;
}

@media (max-width: 906px) {
    .cardcontainer {
        width: 275px;
        height: 150px;
        padding: 5px;
    }
    .data {
        margin-top: 14px;
    }
}


@media (max-width: 855px) {
    .cardcontainer {
        width: 265px;
        height: 150px;
        padding: 3px;
    }
    .namepoke {
        font-size: 16px;
    }
    .idpoke {
        font-size: 13px;
    }
    .imagepoke {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 583px) {
    .cardcontainer {
        width: 250px;
        height: 135px;
    }
    .detailright {
        left: 67px;
        top: -55px;
    }
    .detailleft {
        top: -55px;
        left: 39px;
    }
}

@media (max-width: 543px) {
    .cardcontainer {
        width: 230px;
        height: 135px;
    }
    .middledetail { 
        padding: 40px 5px 20px 5px;
        width: 15px;
    }
    .type {
        font-size: 10px;
    }
    .type2 {
        font-size: 10px;
    }
}


